.banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include mq(phone) {
        flex-direction: column-reverse;
    }
}

.banner__img {
    min-height: 680px;
    @include mq(phone) {
        min-height: 610px;
    }
}

.banner__content {
    padding: 100px 60px 50px 0;
    color: $dark;
    position: relative;
    z-index: 2;
    @include mq(phone) {
        padding: 50px 30px;
    }
}

.banner__subtitle {
    display: block;
    margin-bottom: 20px;
}

.banner__title {
    margin-bottom: 20px;
}

.banner__text {
    margin-bottom: 20px;
    margin-right: 82px;
    @include mq(tablet) {
        margin-right: 31px;
    }
}

.banner__text--italic {
    font-style: italic;
    margin-bottom: 30px;
}

.banner__link {
    display: inline;
    color: $dark;
    font-style: normal;
}

.banner__btn {
    color: $dark;
    background-color: $apricot;
    letter-spacing: 4px;
    &:hover {
        background-color: $tacao;
    }
}
