.banner {
    padding: 100px 0 160px;
    .wrap {
        @include flex(flex-end,center,row);
    }
}
.banner-holder {
    max-width: 50%;
    @include flex(flex-start,flex-start,column);
}
.banner-subtitle {
    @include text(24px,29px,300,$dark);
    display: block;
    margin-bottom: 20px;
}
.banner-title {
    @include text(98px,108px,400,$dark);
    margin-bottom: 20px;
    font-family: $secondary-font;
}
.banner-text {
    @include text(29px,34px,400,$dark);
    margin-bottom: 20px;
    margin-right: 10px;
}
.banner-dsc {
    display: inline-block;
    font-style: italic;
    margin-bottom: 30px;
}
.banner-link {
    display: inline;
    color: $dark;
    &:hover {
        color: $white;
    }
}
.banner-btn {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    background-color: $peach-light;
    @include text(16px,23px,400,$dark); 
    &:hover {
        background-color: $peach;
    }
}

@include mq(phone) {
    .banner {
        .wrap {
            display: block;
            text-align: center;
        }
    }
    .banner-holder {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    .banner-subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-title {
        font-size: 70px;
        line-height: 80px;
    }
    .banner-text {
        text-align: center;
        margin-right: 0;
        font-size: 18px;
        line-height: 20px;
    }
}