.banner {
    position: relative;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
}

.banner__img {
    min-height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    width: 53.33%;
    @include mq(phone) {
        min-height: 610px;
    }
}

.banner__content {
    color: $dark;
    position: relative;
    width: 50%;
    @include mq(phone) {
        padding: 50px 30px;
    }
}

.banner__content-inner {
    padding: 100px 0 200px 80px;
}

.banner__subtitle {
    display: block;
    margin-bottom: 20px;
}

.banner__title {
    margin-bottom: 20px;
}

.banner__text {
    margin-bottom: 20px;
}

.banner__text--italic {
    font-style: italic;
    margin-bottom: 30px;
}

.banner__link {
    display: inline;
    color: $dark;
    font-style: normal;
}

.banner__btn {
    color: $dark;
    background-color: $apricot;
    letter-spacing: 4px;
    &:hover {
        background-color: $tacao;
    }
}
