.header {
    background-color: $white;
    position: relative;
    .wrap {
        @include flex(space-between,center,row);
    }
}
.logo {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    &:hover {
        opacity: 0.6;
    }
}
.logo-title {
    @include text(36px,44px,700,$dark);
}
.nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    color: $white;
}
.nav-inner {
    width: 250px;
    height: 595px;
}
.toggle-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    svg {
        fill: $white;
    }
}
.nav-list {
    @include flex(center,center,column);
    padding-top: 70px;
}
.nav-link {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    @include text(20px,20px,400,$white);
}
.toggle {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    @include centerFlex();
    svg {
        fill: $dark;
    }
    &:hover {
        opacity: 0.6;
    }
}

