.header {
    background-color: $white;
    position: relative;
    margin: 20px 0;
    .wrapper {
        @include flex-between;
    }
    .nav-link {
        color: $white;
    }
}

.logo {
    display: inline-block;
}

.logo-src {
   @include src(50px);
}

.nav {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: $dark;
    @include mq(tablet) {
        width: 100%;
    }
    @include mq(phone) {
        width: 100%;
    }
}

.toggle--close {
    display: block;
    margin: 20px 20px 0 auto;
    position: relative;
    z-index: 2;
}

.nav-list {
    @include centerFlex;
    flex-direction: column;
    padding: 20px 65px;
}

.list-icon {
    font-size: 36px;
}

.x-icon {
    font-size: 28px;
    color: $white;
}


