.layer-section {
    padding: 70px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container-layer {
    flex: 1 1 50%;
    max-width: 50%;
}
.layer-holder {
    position: relative;
}
.layer1 {
    height: 593px;
    width: 394px;
    background-color: transparent;
    border: 5px solid $peach-light;
}
.layer2 {
    height: 541px;
    width: 462px;
    margin: -505px 0 0 100px;
    background-color: $peach-light;
    opacity: 0.5;
}
.layer3 {
    height: 520px;
    width: 417px;
    margin: -592px auto 65px 37px;
    position: relative;
}
.layer3-img {
    display: block;
    width: 100%;
}
.container-text {
    padding: 0 51px 0 43px;
    @include flex(center,flex-start,column);
}
.layer-title {
    @include text(60px,66px,300,$dark);
    font-family: $secondary-font;
}
.layer-text {
    margin-top: 34px;
}

@include mq(tablet) {
    .layer1 {
        height: 530px;
        width: 290px;
    }
    .layer2 {
        height: 471px;
        width: 291px;
        margin-top: -442px;
    }
    .layer3 {
        width: 296px;
        height: 452px;
        margin-top: -516px;
        margin-left: 27px;
    }
}

@include mq(phone) {
    .row {
        display: block;
    }
    .container-layer {
        flex: none;
        max-width: 100%;
    }
    .layer1 {
        height: 435px;
        width: 245px;
    }
    .layer2 {
        height: 425px;
        width: 265px;
        margin-top: -370px;
        margin-left: 35px;
    }
    .layer3 {
        width: 265px;
        height: 415px;
        margin: -465px 15px 85px 15px;
    }
    .container-text {
        align-items: center;
    }
}