.massages {
    padding: 70px 0;
}

.massages__content-container {
    padding: 0 51px 0 43px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: $dark;
    .learn-link {
        margin-bottom: 50px;
    }
    @include mq(tablet) {
        padding: 0 32px 0 27px;
    }
    @include mq(phone) {
        padding: 0;
    }
}

.massages__text {
    margin-top: 30px;
    margin-bottom: 42px;
}

.massages_layer-container {
    position: relative;
    min-height: 618px;
    @include mq(tablet) {
        min-height: 500px;
    }
    @include mq(phone) {
        min-height: 507px;
    }
    .layer-1 {
        height: 479px;
        width: 84%;
        top: 75px;
        @include mq(tablet) {
            height: 340px;
        }
        @include mq(phone) {
            height: 390px;
        }
    }
    .layer-2 {
        height: 453px;
        width: 77%;
        bottom: 0;
        right: 0;
        top: 165px;
        @include mq(tablet) {
            height: 315px;
            // left: 30%;
        }
        @include mq(phone) {
            height: 345px;
            // top: 130px;
            // left: 20%;
        }
    }
    .layer-3 {
        width: 88.4%;
        height: 503px;
        top: 0;
        right: 51px;
        left: 51px;
        @include mq(tablet) {
            height: 356px;
            // left: 42px;
            // right: 42px;
        }
        @include mq(phone) {
            height: 390px;
            left: auto;
            right: 0;
        }
    }
}