.section-cards {
    margin-top: -140px;
    position: relative;
    z-index: 3;
}

.section-cards__container {
    display: flex;
    flex-wrap: wrap;
    @include mq(phone) {
        display: block;
    }
}

.card {
    flex: 1 1 25%;
    max-width: 25%;
    min-height: 270px;
    @include mq(tablet) {
        flex: 1 1 50%;
        max-width: 50%;
    }
    @include mq(phone) {
        flex: none;
        max-width: 290px;
        margin: 0 auto;
        text-align: center;
    }
}

.card--iner {
    padding: 0 30px;
    @include centerFlex;
    flex-direction: column;
}

.card__img-wrap {
    position: relative;
    padding-bottom: 106%;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card--peach {
    background-color: $peach;
    .card__title {
        color: $dark;
    }
    .card__line {
        background-color: $dark;
    }
}

.card--dark {
    background-color: $dark;
    .card__title {
        color: $white;
    }
    .card__line {
        background-color: $white;
    }
    .card__text {
        color: $white;
    }
}


.card__title {
    margin-top: 25px;
}

.card__line {
    display: block;
    width: 54px;
    height: 3px;
    margin-top: 30px;
    background-color: $dark;
    @include mq(tablet) {
        width: 45px;
    }
    @include mq(phone) {
        width: 27px;
    }
}

.card__text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    @include mq(phone) {
        margin: 20px 0;
    }
}

