// colors
$black: #000000;
$dark: #111111;
$light-grey: #e3e3eb;
$white: #fff;
$peach-light: #fbd2c0;
$peach: #f2b392;
$white-20: rgba(#fff, 0.2);
$blue: #01546B;
$light-blue: #0AC6FC;
$grey: #97a9bd;



// fonts
$primary-font:  'Roboto', sans-serif;
$secondary-font: 'Dancing Script', 'cursive';

