// colors
$black: #000000;
$dark: #111111;
$white: #fff;
$apricot: #ed9977;
$peach: #fbd2c0;
$tacao: #f2b392;
$rose-bud: #f8b496;
$grey: #333333;
$concrete: #f2f2f2;
$white-20: rgba(#fff, 0.2);


// fonts
$primary-font:  'Roboto', sans-serif;
$secondary-font: 'Dancing Script', 'cursive';

body {
    font-family: $primary-font;
}

h1,h2,h3,h4 {
    font-family: $secondary-font;
}

* {
    transition: all 0.3s ease-in-out;
}